## MOCK-TEST-2

1 . if ages of Ram, Lakhan and Shayam are input through the keyboard,WAP to determine who is the youngest
of the three.

In [2]:
r = int(input("Enter age of Ram:"))
l = int(input("Enter age of Lakhan:"))
s = int(input("Enter age of Shayam:"))
if r > l and r >s:
    print("Ram is youngest")
elif l >r and l >s:
    print("Lakhan is youngest")
else:
    print("Shayam is youngest")

Enter age of Ram:12
Enter age of Lakhan:12
Enter age of Shayam:13
Shayam is youngest

2. Suppose a list has 20 numbers. Write a program that removes all duplicate element from the list

In [3]:
import numpy as np
l1 = list(np.random.randint(1,15,20))
print(l1)
unique_val = list(set(l1))
print(unique_val)

[5, 9, 12, 2, 2, 2, 1, 13, 6, 2, 9, 2, 7, 11, 8, 2, 14, 3, 6, 14]
[1, 2, 3, 5, 6, 7, 8, 9, 11, 12, 13, 14]

3. Suppose a list contain 5 strings. WAP to convert all these string to upper case.<br>
    **Note: Use list comprehension to do this**

In [4]:
str1 = ['apple','orange','mango','banana','date']
print(str1)
uppr_str = [x.upper() for x in str1]
print(uppr_str)

['apple', 'orange', 'mango', 'banana', 'date']
['APPLE', 'ORANGE', 'MANGO', 'BANANA', 'DATE']

4. l1 = [10,20,30,50], try to get element of 6th position,handle the exception in below fasion

	statements:
		A. l1[6],
		B. l1[0]/0
		C. import csv22

In [5]:
l1 = [10,20,30,50]
try:
    print("main program")
    x = l1[6]
#     x = l1[0]/0
#     import csv22
    x = l1[0]
    print("X:",x)
    
except (ZeroDivisionError,IndexError):
    print("Send this exception to developer")
except Exception as e:
    print("main Exception occurred",e)
else:
    print("No exception occured")
finally:
    print("close all resource")

main program
Send this exception to developer
close all resource

5. Suppose a list contain several words, WAP to create new list that contain first character of each words.

In [6]:
str1 = ['apple','orange','mango','banana','date']
print(str1)
uppr_str = [x[0] for x in str1]
print(uppr_str)

['apple', 'orange', 'mango', 'banana', 'date']
['a', 'o', 'm', 'b', 'd']

6. dict1 = {"name":"apple","price":150,"color":"read","id":101}, perform below operaion
		A. get all keys and values of dictioinary
		B. replace "apple" with "Mango"
		C. add one more key-value "city":"Mumbai" to this dictioinary
		D. dict2 = {"country":"India","grade":"A"}, upadte dict1 with dict2

In [7]:
dict1 = {"name":"apple","price":150,"color":"read","id":101}
dict2 = {"country":"India","grade":"A"}

In [8]:
print("Keys:",dict1.keys())
print("values:",dict1.values())
dict1['name'] = 'Mango'
print(dict1)

Keys: dict_keys(['name', 'price', 'color', 'id'])
values: dict_values(['apple', 150, 'read', 101])
{'name': 'Mango', 'price': 150, 'color': 'read', 'id': 101}

In [9]:
dict1.update(dict2)
dict1

{'name': 'Mango',
 'price': 150,
 'color': 'read',
 'id': 101,
 'country': 'India',
 'grade': 'A'}

7. WAP to read a string fron keyboard,and create dictioinary containing frequence of each character
occuring in the string.ex,str = "apple", dict1 = {'a':1,'p':2,'l':1,'e':1}

In [10]:
name = input("Enter string:")
dict1 = {}
for ch in name:
    if ch in dict1:
        dict1[ch] = dict1[ch] + 1
    else:
        dict1[ch]=1
dict1

Enter string:sdsd

{'s': 2, 'd': 2}

Read sample.csv and create Pandas DataFrame name sales_data and perform the below opeartion
		A.check
			1. shape
			2.data type of each columns
			3.size of data frame
			4. get the insight of numerical data sing describe function
		B. Display 15 records of data frame.
		C.Display number of missing value in each columm  {Hint: isna().sum()}
		D. fill missing value
		E. Display 5th-15th row and 5 columm {HInt loc/iloc} 
		F. add one more column 'bhk' that contain integer value of size column.
			Hint size = 2 BHK, bhk = 2
		G. dump sales_data into csv/excel file

In [11]:
import pandas as pd
filepath = r"C:\Users\LENOVO\Desktop\Materials\Python Session\project_demo\source_script\jupyter_notes\data\sample_data.csv"
sales_data = pd.read_csv(filepath)

In [12]:
sales_data.shape

(22, 9)

In [13]:
sales_data.dtypes

area_type        object
availability     object
location         object
size             object
society          object
total_sqft      float64
bath            float64
balcony         float64
price           float64
dtype: object

In [14]:
sales_data.size

198

In [15]:
sales_data.describe()

        total_sqft       bath    balcony       price
count    21.000000  21.000000  18.000000   21.000000
mean   1673.761905   3.000000   1.888889  133.372381
std     736.769768   1.224745   0.758395  144.687982
min    1000.000000   2.000000   1.000000   38.000000
25%    1100.000000   2.000000   1.000000   48.000000
50%    1310.000000   3.000000   2.000000   63.250000
75%    2250.000000   4.000000   2.000000  148.000000
max    3300.000000   6.000000   3.000000  600.000000

In [16]:
sales_data.tail(15)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
7,residential,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300.0,4.0,NaN,600.00
8,residential,Ready To Move,Marathahalli,3 BHK,NaN,1310.0,3.0,1.0,63.25
9,commercial,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020.0,6.0,NaN,370.00
10,residential,18-Feb,Whitefield,3 BHK,NaN,1800.0,2.0,2.0,70.00
11,commercial,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785.0,5.0,3.0,295.00
12,residential,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000.0,2.0,1.0,38.00
13,govt site,Ready To Move,Gottigere,2 BHK,NaN,1100.0,2.0,2.0,40.00
14,commercial,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250.0,3.0,2.0,148.00
15,residential,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175.0,2.0,2.0,73.50
16,residential,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180.0,3.0,2.0,48.00
17,residential,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540.0,3.0,3.0,60.00
18,residential,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770.0,4.0,2.0,290.00
19,residential,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100.0,2.0,2.0,48.00
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,residential,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100.0,2.0,2.0,48.00

In [17]:
sales_data.isna().sum()

area_type       1
availability    1
location        1
size            1
society         9
total_sqft      1
bath            1
balcony         4
price           1
dtype: int64

In [18]:

sales_data.dropna(how='all',inplace = True)

In [19]:
sales_data

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,residential,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056.0,2.0,1.0,39.07
1,commercial,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600.0,5.0,3.0,120.00
2,commercial,Ready To Move,Uttarahalli,3 BHK,NaN,1440.0,2.0,3.0,62.00
3,residential,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521.0,3.0,1.0,95.00
4,residential,Ready To Move,Kothanur,2 BHK,NaN,1200.0,2.0,1.0,51.00
5,residential,Ready To Move,Whitefield,2 BHK,DuenaTa,1170.0,2.0,1.0,38.00
6,residential,18-May,Old Airport Road,4 BHK,Jaades,2732.0,4.0,NaN,204.00
7,residential,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300.0,4.0,NaN,600.00
8,residential,Ready To Move,Marathahalli,3 BHK,NaN,1310.0,3.0,1.0,63.25
9,commercial,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020.0,6.0,NaN,370.00
10,residential,18-Feb,Whitefield,3 BHK,NaN,1800.0,2.0,2.0,70.00
11,commercial,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785.0,5.0,3.0,295.00
12,residential,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000.0,2.0,1.0,38.00
13,govt site,Ready To Move,Gottigere,2 BHK,NaN,1100.0,2.0,2.0,40.00
14,commercial,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250.0,3.0,2.0,148.00
15,residential,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175.0,2.0,2.0,73.50
16,residential,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180.0,3.0,2.0,48.00
17,residential,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540.0,3.0,3.0,60.00
18,residential,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770.0,4.0,2.0,290.00
19,residential,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100.0,2.0,2.0,48.00
21,residential,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100.0,2.0,2.0,48.00

In [20]:
sales_data.isna().sum()

area_type       0
availability    0
location        0
size            0
society         8
total_sqft      0
bath            0
balcony         3
price           0
dtype: int64

In [21]:
sales_data['balcony'].fillna(method = 'backfill',inplace = True)

In [22]:
sales_data['society'].fillna(method = 'ffill',inplace = True)

In [23]:
sales_data

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,residential,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056.0,2.0,1.0,39.07
1,commercial,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600.0,5.0,3.0,120.00
2,commercial,Ready To Move,Uttarahalli,3 BHK,Theanmp,1440.0,2.0,3.0,62.00
3,residential,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521.0,3.0,1.0,95.00
4,residential,Ready To Move,Kothanur,2 BHK,Soiewre,1200.0,2.0,1.0,51.00
5,residential,Ready To Move,Whitefield,2 BHK,DuenaTa,1170.0,2.0,1.0,38.00
6,residential,18-May,Old Airport Road,4 BHK,Jaades,2732.0,4.0,1.0,204.00
7,residential,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300.0,4.0,1.0,600.00
8,residential,Ready To Move,Marathahalli,3 BHK,Brway G,1310.0,3.0,1.0,63.25
9,commercial,Ready To Move,Gandhi Bazar,6 Bedroom,Brway G,1020.0,6.0,2.0,370.00
10,residential,18-Feb,Whitefield,3 BHK,Brway G,1800.0,2.0,2.0,70.00
11,commercial,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785.0,5.0,3.0,295.00
12,residential,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000.0,2.0,1.0,38.00
13,govt site,Ready To Move,Gottigere,2 BHK,Shncyes,1100.0,2.0,2.0,40.00
14,commercial,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250.0,3.0,2.0,148.00
15,residential,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175.0,2.0,2.0,73.50
16,residential,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180.0,3.0,2.0,48.00
17,residential,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540.0,3.0,3.0,60.00
18,residential,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770.0,4.0,2.0,290.00
19,residential,Ready To Move,Manayata Tech Park,2 BHK,PeBayle,1100.0,2.0,2.0,48.00
21,residential,Ready To Move,Manayata Tech Park,2 BHK,PeBayle,1100.0,2.0,2.0,48.00

In [24]:
def get_bhk(bedroom):
    return int(bedroom.split(" ")[0])

In [25]:
sales_data['bhk'] = sales_data['size'].apply(get_bhk )

In [26]:
sales_data

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk
0,residential,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056.0,2.0,1.0,39.07,2
1,commercial,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600.0,5.0,3.0,120.00,4
2,commercial,Ready To Move,Uttarahalli,3 BHK,Theanmp,1440.0,2.0,3.0,62.00,3
3,residential,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521.0,3.0,1.0,95.00,3
4,residential,Ready To Move,Kothanur,2 BHK,Soiewre,1200.0,2.0,1.0,51.00,2
5,residential,Ready To Move,Whitefield,2 BHK,DuenaTa,1170.0,2.0,1.0,38.00,2
6,residential,18-May,Old Airport Road,4 BHK,Jaades,2732.0,4.0,1.0,204.00,4
7,residential,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300.0,4.0,1.0,600.00,4
8,residential,Ready To Move,Marathahalli,3 BHK,Brway G,1310.0,3.0,1.0,63.25,3
9,commercial,Ready To Move,Gandhi Bazar,6 Bedroom,Brway G,1020.0,6.0,2.0,370.00,6
10,residential,18-Feb,Whitefield,3 BHK,Brway G,1800.0,2.0,2.0,70.00,3
11,commercial,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785.0,5.0,3.0,295.00,4
12,residential,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000.0,2.0,1.0,38.00,2
13,govt site,Ready To Move,Gottigere,2 BHK,Shncyes,1100.0,2.0,2.0,40.00,2
14,commercial,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250.0,3.0,2.0,148.00,3
15,residential,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175.0,2.0,2.0,73.50,2
16,residential,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180.0,3.0,2.0,48.00,3
17,residential,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540.0,3.0,3.0,60.00,3
18,residential,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770.0,4.0,2.0,290.00,3
19,residential,Ready To Move,Manayata Tech Park,2 BHK,PeBayle,1100.0,2.0,2.0,48.00,2
21,residential,Ready To Move,Manayata Tech Park,2 BHK,PeBayle,1100.0,2.0,2.0,48.00,2

In [27]:
filpath = r"C:\Users\LENOVO\Desktop\Materials\Python Session\project_demo\source_script\jupyter_notes\data\mock_test.csv"
sales_data.to_csv(filpath,index = False)

9.Receive choice from user and perfom below operation as per choice.

		A.Enter 1 to add two number:	{when user enter 1, take two number and perfomr addition}
		B. Enter 2 to subtract number	{when user enter 2, take two number and perfomr subtraction}
		C.Enter 3 print table 			{when user enter 3, take a number and print table}
		D. Enter -1 to exit program

In [41]:
def add():
    m1 = int(input("Enter number1:"))
    m2 = int(input("Enter number2:"))
    print("Addition:",(m1+m2))

def sub():
    m1 = int(input("Enter number1:"))
    m2 = int(input("Enter number2:"))
    print("SUbtraction:",(m1-m2))

def table():
    m1 = int(input("Enter table you want to print:"))
    for i in range(11):
        print(f"{m1} * {i} = {m1 * i}")

In [42]:
while True:
    print("Enter 1 to add two numner:")
    print("Enter 2 to subtract two numner:")
    print("Enter 3 to print table:")
    print("Enter -1 to exit program:")
    try:
        x = int(input("Enter your choice:"))
    except Exception:
        print("Invail choice")
       
    
    else:
        if x==-1:
            print("====God bye=====")
            break
        elif x==1:
            add()
        elif x==2:
            sub()
        elif x==3:
            table()
        else:
            print("Please choose available choice")

Enter 1 to add two numner:
Enter 2 to subtract two numner:
Enter 3 to print table:
Enter -1 to exit program:
Enter your choice:1
Enter number1:15
Enter number2:20
Addition: 35
Enter 1 to add two numner:
Enter 2 to subtract two numner:
Enter 3 to print table:
Enter -1 to exit program:
Enter your choice:2
Enter number1:10
Enter number2:12
SUbtraction: -2
Enter 1 to add two numner:
Enter 2 to subtract two numner:
Enter 3 to print table:
Enter -1 to exit program:
Enter your choice:3
Enter table you want to print:5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
Enter 1 to add two numner:
Enter 2 to subtract two numner:
Enter 3 to print table:
Enter -1 to exit program:
Enter your choice:-1
====God bye=====